api.hub42.app {
  reverse_proxy site42-backend:8081
}

crm.hub42.app {
  reverse_proxy site42-business-portal:80
}

admin.hub42.app {
  reverse_proxy site42-admin-portal:80
}

portal.hub42.app {
  reverse_proxy site42-customer-portal:80
}

scanner.hub42.app {
  reverse_proxy site42-scanner:80
}

hub42.app {
  reverse_proxy site42-landing:80
}
